---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: http://www.abc.net.au/news/feed/52498/rss.xml
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/"
           xmlns:media="http://search.yahoo.com/mrss/">
        <channel>
          <title>ABC News</title>
          <category>Australian Broadcasting Corporation: All content</category>
          <link>http://www.abc.net.au/news/</link>
          <language>en-AU</language>
          <copyright>Copyright 2017, Australian Broadcasting Corporation. All Rights Reserved.</copyright>
          <pubDate>Wed, 27 Sep 2017 15:03:33 +1000</pubDate>
          <lastBuildDate>Wed, 27 Sep 2017 15:03:33 +1000</lastBuildDate>
          <docs>http://blogs.law.harvard.edu/tech/rss</docs>
          <managingEditor>Newson1ine@abc.net.au (ABC News)</managingEditor>
          <image><title>ABC News</title><url>http://www.abc.net.au/news/image/8413416-1x1-144x144.png</url><link>http://www.abc.net.au/news/</link></image>
          <item>
                <title>Bus and truck have close call</title>
                <link>http://www.abc.net.au/news/2017-09-27/bus-and-truck-have-close-call/8992114</link>
                <description>
                    <![CDATA[
                    CCTV footage captured the a close call between a bus carrying 15 school children and truck on the M5, Sydney.
                    ]]>
                  </description>
                <pubDate>Wed, 27 Sep 2017 15:03:33 +1000</pubDate>
                <guid isPermaLink="true">http://www.abc.net.au/news/2017-09-27/bus-and-truck-have-close-call/8992114</guid>
                <category>Road</category>
                  <media:group>
                  <media:description>(News Video)</media:description>
                  <media:content url="http://www.abc.net.au/news/image/8584006-16x9-2150x1210.jpg" medium="image" type="image/jpeg" width="2150" height="1210"/>
                    <media:content url="http://www.abc.net.au/news/image/8584006-4x3-940x705.jpg" medium="image" type="image/jpeg" width="940" height="705"/>
                    <media:content url="http://www.abc.net.au/news/image/8584006-3x2-940x627.jpg" medium="image" type="image/jpeg" width="940" height="627" isDefault="true"/>
                    <media:content url="http://www.abc.net.au/news/image/8584006-3x4-940x1253.jpg" medium="image" type="image/jpeg" width="940" height="1253"/>
                    <media:content url="http://www.abc.net.au/news/image/8584006-1x1-1400x1400.jpg" medium="image" type="image/jpeg" width="1400" height="1400"/>
                    <media:thumbnail url="http://www.abc.net.au/news/image/8584006-4x3-140x105.jpg" width="140" height="105"/>
                  </media:group>
                </item>
          <item>
                <title>&#039;Nothing short of a miracle&#039;: School bus driver in frightening M5 near-miss gets bond</title>
                <link>http://www.abc.net.au/news/2017-09-27/school-bus-driver-in-frightening-m5-near-miss-gets-bond/8992094</link>
                <description>
                    <![CDATA[
                    <p>A bus driver responsible for a terrifying near-miss with a truck while carrying 23 school children is disqualified from driving for least two years and placed on a bond.</p>
                    ]]>
                  </description>
                <dc:creator>Mazoe Ford</dc:creator>
                <pubDate>Wed, 27 Sep 2017 15:03:33 +1000</pubDate>
                <guid isPermaLink="true">http://www.abc.net.au/news/2017-09-27/school-bus-driver-in-frightening-m5-near-miss-gets-bond/8992094</guid>
                <category>Law, Crime and Justice</category>
                  <category>Courts and Trials</category>
                  <category>Road</category>
                  <category>Accidents</category>
                  <category>Road Transport</categ[...]
