---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: http://www.abc.net.au/news/feed/51120/rss.xml
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:media="http://search.yahoo.com/mrss/">
      <channel>
          <title>Just In</title>
          <category>Australian Broadcasting Corporation: All content</category>
          <link>http://www.abc.net.au/news/justin/</link>
          <language>en-AU</language>
          <copyright>Copyright 2017, Australian Broadcasting Corporation. All Rights Reserved.</copyright>
          <pubDate>Wed, 27 Sep 2017 14:32:09 +1000</pubDate>
          <lastBuildDate>Wed, 27 Sep 2017 14:32:09 +1000</lastBuildDate>
          <docs>http://blogs.law.harvard.edu/tech/rss</docs>
          <managingEditor>Newson1ine@abc.net.au (ABC News)</managingEditor>
          <image><title>ABC News</title><url>http://www.abc.net.au/news/image/8413416-1x1-144x144.png</url><link>http://www.abc.net.au/news/justin/</link></image>
          <item>
                <title>Father of IS fighter jailed over bribing Iraqi minister</title>
                <link>http://www.abc.net.au/news/2017-09-27/father-of-is-fighter-jailed-for-bribing-iraqi-minister/8993058</link>
                <description>
                    <![CDATA[
                    <p>Mamdouh Elomar, the father of dead IS fighter Mohamed Elomar, is among three Sydney men jailed for four years for bribing an Iraqi official to get overseas construction contracts.</p>
                    ]]>
                  </description>
                <dc:creator>Jamelle Wells</dc:creator>
                <pubDate>Wed, 27 Sep 2017 14:32:09 +1000</pubDate>
                <guid isPermaLink="true">http://www.abc.net.au/news/2017-09-27/father-of-is-fighter-jailed-for-bribing-iraqi-minister/8993058</guid>
                <category>Law, Crime and Justice</category>
                  <category>Courts and Trials</category>
                  <category>Corruption</category>
                  <category>Bribery</category>
                  <media:group>
                  <media:description>Ibrahim Elomar and Mamdouh Elomar pled guilty to bribing an official to win contracts for their company. (ABC News: Jake Sturmer)</media:description>
                  <media:content url="http://www.abc.net.au/news/image/8693588-16x9-2150x1210.jpg" medium="image" type="image/jpeg" width="2150" height="1210"/>
                    <media:content url="http://www.abc.net.au/news/image/8693588-4x3-940x705.jpg" medium="image" type="image/jpeg" width="940" height="705"/>
                    <media:content url="http://www.abc.net.au/news/image/8693588-3x2-940x627.jpg" medium="image" type="image/jpeg" width="940" height="627" isDefault="true"/>
                    <media:content url="http://www.abc.net.au/news/image/8693588-3x4-940x1253.jpg" medium="image" type="image/jpeg" width="940" height="1253"/>
                    <media:content url="http://www.abc.net.au/news/image/8693588-1x1-1400x1400.jpg" medium="image" type="image/jpeg" width="1400" height="1400"/>
                    <media:thumbnail url="http://www.abc.net.au/news/image/8693588-4x3-140x105.jpg" width="140" height="105"/>
                  </media:group>
                </item>
          <item>
                <title>Government strikes gas deal to sure up domestic supply</title>
                <link>http://www.abc.net.au/news/2017-09-27/gas-export-controls-on-hold-amid-government-agreement/8993254</link>
                <description>
                    <![CDATA[
                    <p>Australia's largest gas companies assu[...]
